html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: none;
}

.body {
  background-color: #0D0D14;
  min-height: 100vh;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #0a192f1a;
  backdrop-filter: blur(20px);
  color: rgb(255, 255, 255);
}

.nav-link {
  color: #ffa600 !important;
  /* Light Blue Text */
  margin-right: 1rem;
  font-weight: 500 !important;
  transition: color 0.89s ease, border-bottom 0.3s ease;
}

.nav-link:hover {
  color: #b97900 !important;
}

#home,
#tools {
  padding: 60px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.scroll-section {
  scroll-margin-top: 80px;
}

.nav-link.active {
  color: #ffae00 !important;
  border-bottom: 2px solid #ff9100;
}

.git {
  background-color: #ffa600 !important;
  padding: 5px 10px !important;
  margin-top: 5px !important;
  border-radius: 0.3rem;
  color: rgb(0, 0, 0) !important;
}

.git:hover {
  background-color: #fdfcfa !important;
  color: rgb(255, 136, 0) !important;
}

.navbar-toggler i {
  color: #ffa600;
  font-size: x-large;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

@media (max-width: 989px) {

  body,
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  #navbarNav {
    display: none !important;
  }

  .custom-sidebar {
    display: block !important;
  }

  .navbar {
    position: fixed !important;
    width: 100%;
  }
}

@media (max-width: 307px) {
  .custom-sidebar {
    width: 90%;
    right: -90%;
  }

  .custom-sidebar.open {
    right: 0;
  }
}


h2 {
  color: orange;
}

.custom-sidebar {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  min-height: 100vh;
  background-color: #140c03;
  color: white;
  z-index: 999;
  padding: 2rem 1rem;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  display: none;
}

.custom-sidebar.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.sidebar-links li {
  margin: 1rem 0;
}

.sidebar-links a {
  color: #ffa600;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar-links a:hover {
  color: #fff;
}