html {
  scroll-behavior: smooth;
}


/* App.css */
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.body {
  /* background: linear-gradient(180deg, rgb(0, 0, 48), rgb(5, 5, 75), rgb(8, 8, 63), rgb(14, 14, 70), rgb(24, 24, 90), rgb(29, 29, 73)) !important; */
  background-color: #0D0D14;
  min-height: 100vh;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar Customization */
.navbar {
  background-color: #0a192f1a;
  backdrop-filter: blur(20px);
  color: rgb(255, 255, 255);
}

.nav-link {
  color: #ffa600 !important;
  /* Light Blue Text */
  margin-right: 1rem;
  font-weight: 500 !important;
}

.nav-link:hover {
  color: #b97900 !important;
  /* Brighter blue on hover */
}

/* Section Styling */
#home,
#tools {
  padding: 60px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.scroll-section {
  scroll-margin-top: 80px;
  /* Adjust based on navbar height */
}

.nav-link.active {
  color: #ffae00 !important;
  /* Bright Cyan */
  border-bottom: 2px solid #ff9100;
}

.git {
  background-color: #ffa600 !important;
  padding: 5px 10px !important;
  margin-top: 5px !important;
  border-radius: 0.3rem;
  color: rgb(0, 0, 0) !important;
}

.git:hover {
  background-color: #fdfcfa !important;
  color: rgb(255, 136, 0) !important;
}

@media (max-width: 500px) {

  body,
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: none;
  }
}

h2 {
  color: orange;
}